:root{
    --indexBorders:0;
    --contentBorders:0;
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.main-body::-webkit-scrollbar {
    display: none;
}

.main-footer {
    bottom: 0;
    width: 100%;
    color: #fff;
    z-index: 100;
}

.main-footer p a{
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
}

.index {
    -webkit-rtl-ordering: inherit;
    height: inherit !important;
    background-color: var(--sideBarBack);
    border-radius: var(--indexBorders);
    padding: 0 !important;
    text-align: start;
}

.content {
    height: inherit !important;
    background-color: #EEF0F6;
    border-radius: var(--contentBorders);
    padding: 15px;
}

.page {
    padding-bottom: 5%;
    min-height: 69.1vh !important;
    display: inline-block;
}

.content-container {
    padding: 15px 40px 10px 40px !important;
}

.main_border_padding{
    border: 1px solid var(--grayBorder);
    border-radius: 5px;
    padding: 22px 29px;
}

@media (max-width: 992px) {
    .content-container {
        padding: 15px 30px 10px 30px !important;
    }
}

@media (max-width: 840px) {
    .content-container {
        padding: 10px 22px 10px 22px !important;
    }
}

@media (max-width: 767px) {
    .content-container {
        padding: 10px 11px !important;
        border-radius: 4px !important;
    }
    .aligned {
        margin-right: -20px !important;
        margin-left: -20px !important;
    }
    .main_border_padding {
        border: unset;
        padding-left: 0;
        padding-right: 0;
    }
}



.col-sm-20 {
    width: 20%!important;
    flex-grow: 1!important;
}

.col-sm-80 {
    width: 80%!important;
    flex-grow: 4!important;
}