.productGridButtons{
    
    background-color: transparent !important;
    color:var(--regButton)!important;
    font-size: 18px !important;
}

.productGridButtons:hover{
    
    background-color:var(--regButton)!important;
    color:var(--white) !important;
}

.productGridButtonsSelected{
    
    background-color:var(--regButton)!important;
    color:var(--white) !important;
} 

.allCardsHeaderSpan{

    font-size: 18px;
    font-weight: bold;
    color:var(--prepaidProductGridAllCardsTitle);
    margin: 0 5px 0 5px;
}
.prepaidLink{

    text-decoration: none !important;
}