.prepaidProductContainer{
    border-radius: 5px;
    margin-top: 20px; 
}

.rowHeight{
    height: 100%;
}
.prepaidHeader{
    color: var(--white);
    font-size: 36px;
    font-weight: 300;
}

.prepaidBtn{
    background-color: var(--white) !important;
    border-color: var(--white) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
}

.prepaidBtn:hover{
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
}
@media (max-width: 380px){
    .prepaidBtn {
        padding-left: 17px !important;
        padding-right: 17px !important;
    }
}

.buttonRowMargin{
    margin-top: -30px !important;
    padding-inline-start:40px;
    padding-inline-end:40px;
}

.prepaidImage{
    height:100px;
    max-width:50%;
}
