.display-linebreak{

    white-space: pre-line;
    color:var(--white);
}

.productName{

    font-size: 29px;
    color:var(--white);
    font-weight: 300;
}

.recommendedTag{
    font-size: 15px;
    color:var(--white);
    margin-top: 10px;
}
.border-r-5{
    border-radius: 5px;
}
.boxShadow:hover{

    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.4);
}

.rowHeight{

    min-height: 180px;
}

.topBorderRadios{

    border-radius: 5px 5px 0 0;
}

.bottomBorderRadios{

    border-radius: 0 0 5px 5px;
}

.priceFrame{

    background-color: var(--white);
    border-radius: var(--priceBorders);
}

.priceText{
    text-align: center;
    padding-top:10px;
    color:var(--talkmanPriceColor);
    font-size: 32px;
    font-weight: 300;
}
.priceText span{
    font-size: 21px;
}

.contractPurchase{
    /*height: 55px;*/

    width: 100%
}

.prepaidLink{

    text-decoration: none;
}

.pointerEvents{

    pointer-events: none;

}

.product-more-details{
    position: relative;
}

.shadow{
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.19);
}