.prodDescripRow{

    margin:0 0 10px 0 !important;

}

.productDescriptionSpan{

    font-weight:bold !important;
}

.arrowImage{

    width:70%
}

.notesRow{

   display:table !important;
   border:1px solid var(--productPurchaseBorders);
   border-radius: 5px;
   background-color:var(--productPurchaseNotesBackgroundColor);
} 

.inputBorder{

    border:1px solid var(--productPurchaseBorders) ;
    border-radius:5px;
}

.messageGreenColor{
    
    color: var(--green) !important;
    font-weight: bold !important;
    font-size: 25px;
}

.messageRedColor{
    
    color: var(--red) !important;
    font-weight: bold !important;
    font-size: 25px;
}

.buttonTopMargin {

    margin-top: 26px !important;
}

.buttonMarginRight{

    margin-right: -15px !important;
}
