.favoriteMessage{

    font-size: 25px;
    color: var(--productPurchaseUpdatedProductFontColor);
    font-weight: bolder;
 }

 .updateDescriptiontext{
    
    white-space: pre-line;
    font-size: 20px;
 }

 .modalBody{

    display: flex;
 }

 .pointerEvent{

   pointer-events: none;

 }