.bannerManagementContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.bannerManagementHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
}
.bannerManagementSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}
.bannerManagementButton{
    min-width: 100px;
    
    height: 50px !important;
    background-color: var(--newSaveButton) !important;
    border-color: var(--newSaveButton)!important;
    border-radius: 3px !important;
    border-width: 0px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;;

    white-space: nowrap;
}
.myCol1baner{
    background: var(--white);
    border:1px solid #D9DBE2;
    border-radius:var(--agentsHeaderTable9);
    font-weight: bold;
    height: 35px; 
    font-size: 0.9rem;
}
.myCol2baner{
    border-radius:var(--agentsHeaderTable3);
    background: var(--white);
    border:1px solid #D9DBE2;
    font-weight: bold;
    font-size: 0.9rem;
    height: 35px; 
}
.myColbaner{
    font-weight: bold;
    background: var(--white);
    border:1px solid #D9DBE2;
    font-size: 0.9rem;
    height: 35px; 
}
.bottom{
    background: var(--white);
    border:1px solid #D9DBE2;
    height: 35px; 
    border-radius: 0px 0px 5px 5px 
}
.bottomdiv{
    border: 1px solid #D9DBE2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:15px;
}