.payment-note{
    border: 1px solid var(--productPurchaseBorders);
    background-color: var(--productPurchaseNotesBackgroundColor);
}

@media (max-width: 768px) {
    .CityPayProceed .left-border, .CityPayProceed .right-border{
        border: unset !important;
    }
}

.imgSize{
    height: 100%;
    width: 100%;
}