.border{
    border: 1px var(--billsScreenBorderColor) solid;
    padding: 20px;
}

.headerCol{

    margin:25px 65px 15px 15px; 
    color:red;
    font-size: 1.7rem;
    font-weight: 900;
}
.next{
    text-align:center ; 
    font-size: 1.2rem;
    font-weight: 500;
    margin:20px 0 0 0;

}
.tel{
    margin:10% 30% 10% 10%; 
    
}
#payButton{
    background-color : var(--iecColor);
    margin:0% 150% 10% 10%; 

}
.BottomCol{
    color: var(--iecColor);
}

.imageCol{
    margin:0 10px 0 10px;
    text-align:var(--imageAlign) !important
}

.inputData{
   margin:10px 0 5px 0;
}

#electricityChargeButton{
    background-color: var(--iecColor);
    border-color: var(--iecColor);
}


@media (max-width: 768px) {
    .ElectricityCharge .left-border, .ElectricityCharge .right-border{
        border: unset !important;
    }
}
.successModalImg{
    height: 200px;
    width: 150px;
}
.totalAmountFont {
    text-align:center ; 
    font-size: 1.2rem;
    font-weight: 900;
    margin:20px 0 0 0;
}

.fontColor{
    color: red;
}