.menuBigButton {
    background-color: var(--menuItemBack) !important;
    border-color: var(--menuItemBack) !important;
    color:var(--white)!important;
    font-size: 22px!important;
    font-weight: 500!important;
}

.noTextDecor{
    text-decoration: none!important;
    color:inherit!important;
}

.noTextDecor:hover{
    color:inherit!important;
}

.menuBigButton:focus{
    box-shadow: none!important;
    background-color: var(--menuItemFocused) !important;
    border-color: var(--menuItemFocused) !important;
}

.menuSelected {
    color: var(--menuItemTextSelected)!important;
}

.menuListButton{
    text-align: start;
    border-top: 1px solid var(--grayBorder);
    color:var(--white)!important;
    font-size: 15px!important;
    font-weight: 500!important;
}


/*TODO change color vars to the correct color vars after we map the colors*/
.svgSelected {
    stroke:var(--menuItemTextSelected);
}

.svgNotSelected {
    stroke:var(--white);
}

.svgFillSelected {
    fill:var(--menuItemTextSelected);
}

.svgFillNotSelected {
    fill:var(--white);
}

.wrapperAlignEnd {
    align-items: end;
}

.sideMenu{
    height:100%;
    display: flex;
    flex-direction: column;
}
.rounded>button:first-child{
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
}

.rounded>button:last-child{
    border-bottom-left-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}