
.DuplicatProductAuthContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;   
}
.DuplicatProductAuthHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
}
.DuplicatProductAuthSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}

.DuplicatProductAuthBtn{
    min-width: 410px;

    margin-top: 0.5rem !important;

    height: 50px !important;
    background-color: var(--selectorBackground)!important;
    color: var(--secondaryButtonText) !important;
    border-color: var(--selectorBackground) !important;
    border-radius: 3px !important;
    font-size: 17px !important;
    font-weight: bolder !important;        
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);

    white-space: nowrap;
}

.DuplicatProductAuthCancelBtn{
    background-color:var(--darkButton)!important;
    color: var(--white) !important;
    border-color: var(--darkButton) !important;
}

@media only screen and (max-width: 540px) {
    .DuplicatProductAuthBtn {
        font-size: 12px !important;
        min-width: 295px;
    }
}