.card-text {
    background: var(--white);
    font-size: 13px;
    color: var(--black);
    text-align: center;

}

.header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--chargeScreenHeadersFontColor);
}

.top-border {
    border-top: 1px solid rgba(98, 106, 124, 0.15);
}

.aligned {
    margin-left: -2px !important;
    margin-right: -2px !important;
}

.providerCard > .d-flex {
    height: 85px;
    border-top-left-radius: 4.15px !important;
    border-top-right-radius: 4.15px !important;
}

.provider-card-img {
    max-height: 85%;
    max-width: 85%;
}

.provider-col {
    padding-inline-start: 7.5px !important;
    padding-inline-end: 7.5px !important;
}

.providerCard {

    border: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: 0 2px 5px 0 rgba(47, 83, 151, 0.1);
}

.providerCard:hover {

    box-shadow: 0 10px 25px 0 rgba(47, 83, 151, 0.5);
}

.provider-card-text {
    text-align: start;
    padding-inline-start: 15px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--chargeScreenHeadersFontColor);
    border-bottom-left-radius: 4.15px !important;
    border-bottom-right-radius: 4.15px !important;
}

.chargeCancelatiionDiv {
    background-color:'#CDEE8F';
    border-radius:'10px';
}

.business_freeze{
    opacity: 0.5
}

.message_business_freeze{
    background: #ffcbcb;
    display: inline-block;
    padding: 2px 10px;
}