.adBannerBanner{
    text-align: center;
    height: 100%;
    border: 1px var(--adBannerBorder) solid;
  }

  .adBannerImage{
    width: 100%;
    height: inherit;
    min-height: inherit;
  }
  .LigthBox{
    position: fixed;
    z-index: 9999999;
    width:100%;
    height: 100%;
    top:0;
    right: 0;

  }
  .myX{
    z-index: 999999999;
    position: absolute;
    top: 20px;
    left: 40px;
    font-weight: bold;
    font-size: -webkit-xxx-large;
    cursor: -webkit-grab;
    cursor: grab;
  }