:root {
    --logoPaddingFix: 0;
}

.headerLinkButton h5 {
    font-size: 16px !important;
}

.headerLinkTextSelected {
    color: var(--headerNavLinkSelected) !important;
}

.headerLinkText {
    color:var(--headerNavLink)!important;
}

.headerLinkLink a {
    color: transparent !important;
    text-decoration: none !important;
}

.regularButton{
    background: var(--regButton)!important;
    border-color: var(--regButton)!important;
}
.regularButton svg{
    width: 24px;
    height: 19px;
}
.regularButton svg path{
    fill: #ffffff;
}

.peletokLogo {
    font-weight: bold !important;
    font-size: calc(30px + (51 - 30) * ((100vw - 300px) / (1300 - 300))) !important;
    color: #16577d !important;
    align-content: start !important;
    margin-top: -0.375rem !important;
    margin-bottom: -0.375rem !important;
    padding: 0 !important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    letter-spacing: -2px!important;
    text-decoration: none;
    cursor: pointer;
}
.peletokLogo:hover {
    text-decoration: none;
}
.main-header .btn-outline-secondary{
    border-color: #d9dbe2;
}
.main-header .btn-outline-secondary:focus {
    box-shadow: unset;
}
.main-header .btn-outline-secondary:hover, .main-header .btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #6c757d;
    background-color: unset;
    border-color: #d9dbe2;
}

.customer .dropdown-menu{
    border-radius: 0 0 .25rem .25rem;
    margin: 0;
    text-align: unset;
    width: 100%;
    min-width: auto;
    top: unset;
    padding: 0;
    border-width: 0 1px 1px 1px;
    background-color: #f8f9fa;
    color: #6c757d;
}
.customer .dropdown-menu .dropdown-item{
    border-top: 1px solid rgba(0,0,0,.15);
    color: #6c757d;
    padding: .375rem .75rem;

}
.customer .dropdown-menu .dropdown-item:active {
    background-color: #f8f9fa;
}
.customer.show .btn{
    border-radius: .25rem .25rem 0 0;
    border-width: 1px 1px 0 1px;
}

@media (max-width: 767px) {

    .navbar-collapse {
        position: fixed !important;
        top: 75px !important;
        right: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
    }


    .navbar-collapse > .page {
        margin: 0 !important;
        height: 100% !important;
        padding: 0 !important;
    }

    .navbar-collapse > .page > .index {
        border-radius: unset !important;
        overflow-y: scroll;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22 ,87 ,125, 1)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

    .navbar-light .navbar-toggler {
        border: unset !important;
    }
}
#customerBtn{
    min-width: 165px;
}

@media (max-width: 992px) {
    .dropdown.show{
        position: fixed;
        width: 100%;
        right: 0;
        left: 0;
        top: 15px;
    }
    .dropdown.show span {
        display: block !important;
    }
    .dropdown-menu.show {
        top: 55px;
        border-radius: 0;
    }
    .customer.show .btn {
        border-radius: .25rem;
        border-width: 1px;
        background-color: #f8f9fa !important;
        width: calc(100% - 32px);
        margin: 0 16px;
        padding: .58rem !important;
    }

    #customerBtn{
        min-width: auto;
    }
}


@media (min-width: 676px) {
    .modal-support {
        max-width: 676px !important;
    }
}

.modal-support .modal-body{
    padding-top: 0 !important;
    margin-top: -5px;
}