.profitPercentageProfileContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;   
}
.profitPercentageProfileHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
}
.profitPercentageProfileSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}
.profitPercentageProfileSubHeader{
    margin-bottom:13px;
    font-size: 17px;
    color: #282B3B;
    font-weight: bold;
  }
.profitPercentageProfileButton{
    min-width: 100px;

    margin-top: 1.6rem !important;
    
    height: 50px !important;
    background-color: var(--regButton) !important;
    border-color: var(--regButton) !important;
    border-radius: 3px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;;

    white-space: nowrap;
}
.profitPercentageButtonSave{
    background-color: var(--newSaveButton) !important;
    border-color: var(--newSaveButton) !important;
}
.profitPercentageProfileSpreadButton{
    min-width: 273px;
}