.border{

    border: 1px #D9DBE2 solid;
    padding: 20px;

}

.headerCol{

    margin:0 15px 0 15px; 

}

.imageCol{

    margin:0px 10px 0 10px;
    text-align:var(--imageAlign) !important

}

.inputData{

   margin:10px 0px 5px 0px;
}

#electricityChargeButton{

    margin:20px 15px 15px 15px;
}

.ecImage{

   height:90px;

}

.imgPosition{

    bottom: 30px;
}
