.manualCardsContainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.manualCardsHeader {
    width: 100%;
    font-size: 26px;
    font-weight: 300;
}

.manualCardsSettings {
    margin-top: 7px;
    margin-bottom: 16px;
    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 20px!important;
    padding-left: 20px !important;
    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}

.manualCardsButton {
    min-width: 100px;
    height: 50px !important;
    background-color: var(--darkButton) !important;
    border-color: var(--darkButton) !important;
    border-radius: 3px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
    white-space: nowrap;
    margin-top: 1rem !important;
}

.manualCardsButtonSearch {
    background-color: var(--regButton) !important;
    border-color: var(--regButton) !important;
    margin-top: 1.6rem !important;
}

.manualCardsLine {
    background-color: var(--notificationCenterWeakText) !important;
    box-sizing: border-box !important;
}

.manualCardsTableBtn {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0px !important;
    font-weight: bold !important;
    height: 24px;
    min-width: 77px;
}

.manualCardsTableBtnEdit {
    background-color: var(--regButton) !important;
}

.manualCardsTableBtnSave {
    background-color: var(--selectorBackground) !important;
    color: var(--secondaryButtonText) !important;
}

.manualCardsTableBtnDelete {
    background-color: var(--darkButton) !important;
}

.mainRow {
    color: var(--tableHeaderText);
    font-weight: 900 !important;
    font-size: 1.2rem
}

.tabl {
    background: var(--userAreaEditBackground);
    padding-top: 1%;
}

.cardRow {
    font-size: 1rem;
    background: var(--grayRow);
    padding-top: 1%
}

.saveButton {
    background-color: var(--secondaryButtonBackground)!important;
    color: var(--secondaryButtonText)!important;
    border: none!important;
    margin-inline-end: 2px;
}

.newButton {
    margin-top: 5%;
    min-width: 6rem;
    min-height: 3.5rem;
    font-weight: 700!important;
    font-size: 1.2rem !important;
}

.inputCol {
    max-height: 1% !important
}

.listOfCards {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.listOfCards::-webkit-scrollbar {
    width: 5px;
}

.listOfCards::-webkit-scrollbar-track {
    background: #e5e7ef;
}

.listOfCards::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.listOfCards::-webkit-scrollbar-thumb:hover {
    background: #555;
}