
.receipt-container {
    position: relative;
    direction: rtl;
    size: A4;
    height: 85%;
    zoom: 1.8;
    margin: 50px auto;
}
.receipt-logo {
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
}
.receipt-header {
    text-align: center;
    margin: 40px;
    border-bottom: 1px dotted #aaa;
    padding-bottom: 10px;
}
table {
    margin-top: 15px;
}
th {
    background-color: #ddd;
    border-bottom: 1px solid black;
}
th, td {
    padding: 10px;
}
.smcl {
    width: 20%;
}
.lgcl {
    width: 60%;
}
.receipt-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.receipt-footer h4 {
    text-align: center;
}