.tagsManagementContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .tagsManagementHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
  }
  .tagsManagementSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}
  .tagsManagementLine{
    background-color: var(--notificationCenterWeakText) !important;
    box-sizing: border-box !important;
  }
  .tagsManagementSubHeader{
    margin-bottom:13px;
    font-size: 17px;
    color: #282B3B;
    font-weight: bold;
  }
  .tagsManagementButton{
    background-color: var(--regButton) !important;
    font-size: 17px !important;
    font-weight: bold !important;
    height: 50px;
    margin-bottom: 23px;
    width: 100%;
    min-width: 100px;
    border-color: var(--regButton) !important;
    border-radius: 3px !important;
  }

  .tagsManagementTableHeaders{
    color: var(--regButton) !important;
    font-weight: bold;
  }

  .tagsManagementTableRow{    
    background-color: var(--grayRow) !important;    
    margin: 4px 0;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  input.tagsManagementNumberInput::-webkit-outer-spin-button,
  input.tagsManagementNumberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

  .tagsManagementTagNameInTable{   
    background-color: var(--selectorBackground) !important;
    color: var(--white) !important;
    border-radius: 3px;
    border: 1px solid var(--selectorBorder) !important;
  }
  .tagsManagementEditingTagNameInTable{
    text-align: center;
    background-color: var(--white) !important;
    border-radius: 3px;
    border: 1px solid var(--notificationCenterWeakText) !important;
    height: 26px !important;
  }

  .tagsManagementWarningMsg{
    height: 19px;
    color: var(--notificationCenterWeakText);
    font-family: Heebo;
    font-size: 13px;
    letter-spacing: 0.08px;
    line-height: 19px;
  }

  .tagsManagementTableBtn{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0px  !important;
    font-weight: bold !important;
    height: 24px;
    min-width: 77px;
  }
  .tagsManagementTableBtnEdit{
    background-color: var(--regButton) !important;
  }
  .tagsManagementTableBtnDelete{
    background-color: var(--darkButton) !important;
  }
  .tagsManagementTableBtnSave{
    background-color: var(--selectorBackground) !important;
    color: var(--secondaryButtonText) !important;
  }