.hashavshevetContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.hashavshevetHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
}
.hashavshevetSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}
.hashavshevetButton{
    min-width: 100px;

    margin-top: 25px !important;
    
    height: 50px !important;
    background-color: var(--regButton) !important;
    border-radius: 3px !important;
    border-width: 0px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;;

    white-space: nowrap;
}

.hashavshevetCancelButton{
    min-width: 100px;

    margin-top: 25px !important;
    
    height: 50px !important;
    /*background-color: var(--regButton) !important;*/
    border-radius: 3px !important;
    border-width: 0px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;;

    white-space: nowrap;
}

.hashavshevetButtonCancel{
    background-color: var(--darkButton) !important;
}

.hashavshevetButtonPosition{
    position: relative;
    bottom: -50px;
}
.hashavshevetModalHeader> .modal-title{
    color: var(--regButton) !important;
}
.hashavshevetModalBody .form-control{
    max-width: 100% !important;
}
.hashavshevetModalFooter{
    background-color: var(--selectorBackground) !important;
}

.reportRow{
    cursor: pointer;
}

.reportCancelRow {
    color: red;
}