.creditCardContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.creditCardHeader{
    font-weight: 300;
    width: 100%;
    font-size: 26px;
}

.creditCardSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}
.creditCardButton{
    min-width: 100px;
   
    height: 50px !important;
    background-color: var(--newSaveButton) !important;
    border-radius: 3px !important;
    border-color: var(--newSaveButton) !important;
    font-size: 17px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;;

    white-space: nowrap;
}

.mainCreditCard{
    font-weight: 900;
    font-size: 1rem
}
.cont{
    font-weight: 900 !important;
    font-size: 1rem !important;
}
.mainCard{
    border: 1px solid #D9DBE2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:15px;
}