.createProductContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .createProductHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
  }

  .createProductSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
  }

  .createProductButton{
    font-size: 17px !important;
    font-weight: bold !important;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    min-width: 100px;
    border-radius: 3px !important;
  }

  .createProductButtonRegular{
    background-color: var(--regButton) !important;
    border-color: var(--regButton) !important;
  }
  .createProductButtonSave{
    background-color: var(--newSaveButton) !important;
    border-color: var(--newSaveButton) !important;
  }

  .createProductButtonDelete_New{
    background-color: var(--darkButton) !important;
    border-color: var(--darkButton) !important;
  }

  .createProductInputBlock{
    width: 100%;
    min-height: 160px;
    background-color: var(--userAreaEditBackground);
    border: 1px var(--grayBorder) solid;
    border-radius: 5px; 
    padding-top: 15px; 
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .createProductLine{
    background-color: var(--notificationCenterWeakText) !important;
    box-sizing: border-box !important;
  }

  .createProductBottom{
    margin-bottom: 30px;
  }

.input-barcode{border: 1px solid #a9a9a9}
.barcode-error{
  border: 1px solid #ff686b;
  color: #ff686b;
}
.error-message-barcode{
  background: white;
  color: #ff686b;
  text-align: end;
  padding: 10px;
}