.configGeneralContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.configGeneralHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
}
.configGeneralSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}

.myCol1{
    background: var(--white);
    border-radius:var(--agentsHeaderTable9);
    font-weight: bold;
    font-size: 0.9rem;
    height: 35px;
    color:gray;
    padding-top:1.5%
    
}
.myCol2{
    color:gray;
    background: var(--white);
    font-weight: bold;
    font-size: 0.9rem;
    height: 35px;
    padding-top:1.5%

}
.myCol{
    background: var(--white);
    border:1px solid #D9DBE2;
    font-weight: 400;
    font-size: 0.9rem;
    height: 35px; 
    padding-top:1.5%
  
}
.myColGray{
    background: #f5f7fa;
    border:1px solid #D9DBE2;
    font-weight: 400;
    font-size: 0.9rem;
    height: 35px;  
    padding-top:1.5%
 
}
.footer{
    background: var(--white);
    border:1px solid #D9DBE2;
    height: 35px; 
    border-radius: 0px 0px 5px 5px  
}
.tableVat{
    max-height: 500px;
    /* overflow: auto; */
}

